* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.HVLTopBar{
    background-color: #004357;
} 
.duck { /*gå helt ut til kantene */
    background-color: white;
}
.background {
    background-color: white;
}
.infobox {
    background-color: #ebf9fa;
    font-size:  35;
    border-radius: 0;
}
